html,
body {
    height: 110%;
    margin: 0;
}

main {
    flex: 1;
}

body {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: #097584;
}

.centered {
    text-shadow: 2px 2px #000000;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    font-size: 15px;
    padding: 1px 10px 2px 10px;
    border-radius: 44px;
    background-color: transparent;
    border-color: #ffffff;
}

#link {
    text-decoration: none;
    color: #ffffff;
}

.nav-link {
    padding-top: 5px;
    /* Adjust as necessary */
    padding-bottom: 5px;
    /* Adjust as necessary */
}

.nav-item {
    display: flex;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    background-color: #004d40;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons img {
    margin-right: 15px;
    cursor: pointer;
}

.social-icons span {
    margin-right: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.address-container {
    min-height: 550px;
    height: 700px;
    width: 445px;
    padding: 40px;
    background-color: #eaeaea;
    align-items: end;
    border-radius: 20px;
}

.details-header {
    font-size: 18px;
    color: #247878;
    font-weight: 600;
    word-wrap: break-word;
}

.details-text {
    font-size: 16px;
    /* font-size: calc(100% + .23vw + .23vh); */
    font-weight: 600;
    word-wrap: break-word;
}

.divider {
    border-top: 1px solid #ffffff;
    /* Adjust color and thickness as needed */
    /* margin: 0px; */
    /* Adjust spacing as needed */
}

.content-container {
    background-color: transparent;
    margin: 10px;
    margin-top: 10px;
    text-align: left;
    /* Ensure text is left-aligned */
}

.rounded-box {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    /* max-width: px; */
    /* Control the size */
    text-align: left;
    /* Align content to the start */
}

.rounded-box > h2 {
    color: black;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191;
    font-weight: 900;
}

.subheader,
.question-title {
    color: black;
    margin-left: 20px;
    text-align: left;
    /* Ensure the text is left-aligned */
}

.accordion-button {
    /* color: teal; */
    font-weight: bold;
    padding-bottom: 15px;
}

.accordion-button:hover {
    color: teal;
    text-decoration: none;
    background-color: transparent;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .footer-container span {
        margin-bottom: 10px;
    }

    .social-icons {
        justify-content: center;
        width: 100%;
    }

    .rounded-box {
        padding: 10px;
        text-align: left;
        /* Keep left alignment on larger screens */
    }
}

.navbar-toggler {
    border-color: white;
}

.navbar-toggler-icon {
    color: white;
}
