.address-container {
    min-height: 550px;
    height: 700px;
    width: 445px;
    padding: 40px;
    background-color: #eaeaea;
    align-items: end;
    border-radius: 20px;
}

.details-header {
    font-size: 18px;
    color: #247878;
    font-weight: 600;
    word-wrap: break-word;
}

.details-text {
    font-size: calc(100% + .23vw + .23vh);
    font-weight: 600;
    word-wrap: break-word;
}

.divider {
    border-top: 1px solid #ffffff;
    /* Adjust color and thickness as needed */
    margin: 20px 0;
    /* Adjust spacing as needed */
}


